<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Connexion</title>
        <%- include("../partials/head.ejs") %>
        <link href="css/form.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%- include("../partials/header.ejs") %>    
        </header>
        <form method="POST" action="">
            <% if(errorMessage){%>
                <div class="error-msg">
                    <small><%=errorMessage%></small>
                </div>
            <%} %>
            <div class="form-item">
                <input type="email" name="email" value="" placeholder="Entrer votre Email">
            </div>

            <div class="form-item">
                <input type="password" name="password" value="" placeholder="Entrer votre mot de passe">
            </div>

            <div class="form-item">
                <input type="submit" value="connexion">
            </div>
        </form>
    </body>
</html>