<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <%-include("./partials/head.ejs") %>
        <link href="/css/blog_views.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <%-include('./partials/header.ejs')%> 
        </header>
        <div id="banner">
            <img src="/img/blog2.png" alt="">
        </div>

        <section>
            <div class="wrapper">
                <article>
                    <h1 class="title"><%= article.titre %></h1>
                    <blockquote cite="lorem">
                       <%= article.article %>
                    </blockquote>
                </article>

                <div class="comment_form">
                    <form method="POST" action="">
                        <textarea rows="10" cols="10" name="commentaire"></textarea>
                        <input type="submit" Value="Envoyer">
                    </form>
                   
                </div>
            </div>
           

        
        </section>

       
    </body>
</html>