<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <%- include("./partials/head.ejs") %>
        <link href="css/index.css" rel="stylesheet"> 
    </head>
    <body>
        <header>
              <%- include ("./partials/header.ejs") %>
        </header>

        <section id="carte-section">

            <a href="/blog/122def">
                <div class="carte">
                    <div class="img-zone">
                        <img src="img/blog2.png" alt="Blog photo">
                    </div>

                    <div class="text-zone">
                        <h1>Why Javascript ?</h1>
                    </div>

                     <div class="logo-zone">
                        <h3>11 likes</h3>
                        <button>View</button>
                    </div>
                </div>
            </a>

            <a href="/blog/1123def">

                <div class="carte">

                    <div class="img-zone">
                        <img src="img/blog2.png" alt="Blog photo">
                    </div>
                    <div class="text-zone">
                    <h1>Why Javascript ?</h1>
                    </div>

                    <div class="logo-zone">
                        <h3>11 likes</h3>
                        <button>View</button>
                    </div>

                </div>

            </a>

            
        </section>
    </body>
</html>