#carte-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 150px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.carte {
    width: 300px;
    height: 400px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
    max-height: 400px;
    border-radius: 5px 5px 0px 0px;
}

.carte .img-zone {
    width: 100%;
}

.carte .img-zone img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.carte .logo-zone {
    position: relative;
    display: flex;
    padding: 20px;
    top: 90px;
}

.texte-zone {
    height: 100px;
}

.carte .logo-zone h3 {
    color: black;
}

.carte .logo-zone h3,
.carte .logo-zone button {
    margin-left: 30px;
}

.extrait {
    color: black;
    text-align: left;
    font-size: 0.9em;
    padding: 20px;
}

.title {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    line-height: 30px;
}

.indice {
    line-height: 30px;
    color: royalblue;
    text-decoration: underline;
}


/* GESTION DE LA RESPONSIVITÉ */

@media only screen and (max-width:979px) {
    #carte-section {
        flex-wrap: nowrap;
        width: 100%;
        align-self: center;
    }
    .carte-container {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width:829px) {
    #carte-section {
        flex-wrap: nowrap;
        width: 100%;
        align-self: center;
        padding-left: 100px;
    }
    .carte-container {
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width:780px) {
    #carte-section {
        display: block;
        width: 100%;
        align-self: center;
    }
    .carte-container {
        display: block;
        position: relative;
        left: 50px;
    }
}

@media only screen and (max-width:560px) {
    #carte-section {
        display: block;
        width: 100%;
        align-self: center;
    }
    .carte-container {
        display: block;
        position: relative;
        left: 50px;
    }
    .carte {
        position: relative;
        display: block;
        right: 100px;
    }
}

@media only screen and (max-width:432px) {
    #carte-section {
        display: block;
        width: 100%;
    }
    .carte {
        position: relative;
        right: 120px;
    }
}

@media only screen and (max-width:400px) {
    .carte {
        position: relative;
        right: 120px;
    }
}

@media only screen and (max-width:384px) {
    .carte {
        position: relative;
        right: 130px;
    }
}

@media only screen and (max-width:340px) {
    .carte {
        position: relative;
        right: 160px;
    }
}

@media only screen and (max-width:280px) {
    .carte {
        position: relative;
        width: 250px;
        height: 320px;
    }
    .carte .logo-zone {
        top: 30px;
    }
}