#carte-section {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 150px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.carte {
    width: 300px;
    height: 400px;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
    max-height: 400px;
}

.carte .img-zone {
    width: 100%;
}

.carte .img-zone img {
    width: 100%;
}

.carte .logo-zone {
    position: relative;
    display: flex;
    padding: 20px;
    top: 90px;
}

.texte-zone {
    height: 100px;
    background-color: red;
}

.carte .texte-zone .title {
    font-size: 1.2;
    color: orangered;
}

.carte .logo-zone h3 {
    color: black;
}

.carte .logo-zone h3,
.carte .logo-zone button {
    margin-left: 30px;
}