<%- include ("partials/header") %>

<% if(locals.artId) {%>
<div id="remove">
    <p>Voulez vous supprimer l'article Id <%=artId%> ?</p>
    <a href="/admin/remove/<%=artId%>" class="del">Oui</a>
    <a href="/admin/dashboard" class="mod">Non</a>
</div>
<% } %>

<%- include ("partials/footer") %>